[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "themes/hugo-theme-pixyll"]
	path = themes/hugo-theme-pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll
[submodule "themes/lithium"]
	path = themes/lithium
	url = https://github.com/jrutheiser/hugo-lithium-theme
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
